<!DOCTYPE html>
<html>
<head>
    <title>Coronavirus stats </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
	  <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
    
</head>
<body>
  <div class="img"></div>
  <form class="form">
    <h1>COVID-19 STATS FOR INDIA</h1><br><br>
    <h2 style="font-family: 'Lora', serif">Email address:</h2>
      <input class="mail" type="email" pattern=".+@globex.com" id="uiEmail" class="floatLabel" placeholder="user@gmail.com" required><br>
    </div>
      <h2>States</h2>
    <div>
      <select class="location" id="uiStates">
        <option value="" disabled="disabled" selected="selected">Choose a State</option>
        <option>Karnataka</option>
        <option>Maharastra</option>
      </select>
    </div>
      <h2>Districts</h2>
    <div>
    <select class="location" id="uiDistricts">
      <option value="" disabled="disabled" selected="selected">Choose a District</option>
      <option>Bengaluru Urban</option>
      <option>Mysore</option>
    </select>
  </div>
  <button class="submit" onclick="sendMail()" type="button">SEND EMAIL</button>
  <div id="uiClick">	<h2></h2> </div>
</body>
</html>
